.example-card {
    max-width: 300px;
    margin-left:350px;
    margin-top: 10px;
    background-color:rgb(226, 228, 226);
  }
  
  .example-header-image {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgZK30sXuYBqaG70Ld8yC28PWhNSXRVPN4QQ&usqp=CAU');
    background-size: cover;
  }
  

  .whitelink1 {
    color: white; /* כדי שבעת מעבר עם העכבר ישתנה הסימון שלו לסימון של כפתור לחיץ*/
  }

  .bold {
    font-size: large;
    text-decoration: underline;
    text-align: center;
  }
  
  .bold2 {
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 0.5px 0.2px black;
    text-align: center;
  }

  .bold3 {
    font-weight: bold;
    font-size: 13px;
    text-decoration: underline;
  }
  .picture {
    margin-bottom:-3px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 70%;
  }