<mat-sidenav-container class="sidenav-container">
  <mat-sidenav  *ngIf = "(AuthService.getUser()|async)" #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/addcustomer" routerLinkActive="active">add customer</a>
      <a mat-list-item routerLink="/customerTable" routerLinkActive="active">customerTable</a>
      <a mat-list-item routerLink="/leavecustomers" routerLinkActive="active">leavecustomers</a>
      <a mat-list-item routerLink="/seaCondition" routerLinkActive="active">seaCondition</a>
      <!-- <a mat-list-item routerLink="/addcustomer" routerLinkActive="active" *ngIf = "(AuthService.isSecretaryPipe()|async)">add customer</a>
      <a mat-list-item routerLink="/customerTable" routerLinkActive="active" *ngIf = "(AuthService.isSecretaryPipe() | async)">customerTable</a>
      <a mat-list-item routerLink="/leavecustomers" routerLinkActive="active" *ngIf = "(AuthService.isSecretaryPipe() | async)">leavecustomers</a>
      <a mat-list-item routerLink="/seaCondition" routerLinkActive="active" *ngIf = "(AuthService.isGuidePipe() | async)">seaCondition</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>test</span>
      <span class = "spacer"></span>
      <a class = "whitelink"  routerLink = "/signup" *ngIf = "!(AuthService.getUser()|async)">Sign up</a>
      <a class = "whitelink"  routerLink = "/login" *ngIf = "!(AuthService.getUser()|async)">Login</a>
      <a class = "whitelink1"  (click)="AuthService.logout()" *ngIf = "(AuthService.getUser()|async)" >Logout</a>

    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
