
<p *ngIf = "!(AuthService.getUser()|async)">you are not loggin</p>
<p *ngIf = "(AuthService.getUser()|async)">Welcome !!!</p>


<!-- <button mat-raised-button color="accent"
(click) = "predict()"
>Predict
</button>  
{{predictVar} -->